# Server Configuration
NODE_ENV=development
PORT=3003
SERVICE_NAME=payment-service

# Database Configuration (Derived from docker-compose host port 5432)
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/payment_db?schema=public"

# JWT Configuration (ATTENTION: MUST MATCH AUTH SERVICE)
# If you used a different secret, please update this!
JWT_SECRET=supersecret

# ABA PayWay Configuration (Sandbox)
ABA_PAYWAY_API_URL=https://checkout-sandbox.payway.com.kh/api/payment-gateway/v1/payments/purchase
ABA_PAYWAY_MERCHANT_ID=ec438757
ABA_PAYWAY_API_KEY=83537877141505c285d89868725832049d581566

# App Configuration
APP_NAME=Smart Parking
CORS_ORIGIN=http://localhost:8080,http://localhost:3000
